body {
  padding: 20px;
  background-color: #444;
}

#gridContainer {
  padding-bottom: 10px;
}

table {
  border-spacing: 0;
}

td {
  width: 10px;
  height: 10px;
}

span {
  color: #222;
}

#start,
#clear,
#random {
  padding: .75em;
  border-radius: 5px;
  border: none;    
  background: linear-gradient(
      to bottom right,
      #C5DEC6, #587559);
}

td.cell_land {
  background-color: blanchedalmond;
}

td.cell_dead {
  background-color: lightblue;
  background-image: url('./resources//images/water.gif');
  background-size: cover;
}

td.cell_grass {
  background-color: greenyellow;
  background-image: url('./resources//images/grass.gif');
  background-size: cover;
}

td.cell_tree {
  background-color: green;
  background-image: url('./resources//images/tree.gif');
  background-size: cover;
}